body {
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Navy blue color */
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bbb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 75px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: 75px;
    padding: 8px;
    background-color: #4cae50;
    color: #ggg;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.checkbox {
    margin-right: 10px;
}

.task-text {
    flex-grow: 1;
}
